<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MenuCtrl">
	<script type="text/ng-template" id="children_renderer.html">
  <div class="tree-node">
    <div class="pull-left tree-handle" ui-tree-handle>
      <span class="glyphicon glyphicon-list"></span>
    </div>
    <div class="tree-node-content">
      <a class="btn btn-success btn-xs" data-nodrag ng-click="spread(this)">
        <span class="glyphicon" ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
          }" >
        </span>
      </a>
      {{node.title}}
      <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeSubItem(this)"><span class="glyphicon glyphicon-remove"></span></a>
      <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this.$modelValue)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
	  <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="editSubItem(this.$modelValue)" style="margin-right: 8px;"><span class="glyphicon glyphicon-edit"></span></a>
    </div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.children" ui-tree-node  data-collapsed="true"    ng-include="'children_renderer.html'">
    </li>
  </ol>
</script>
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h3">
			Connected Trees
			</h3>
	</div>
	<div class="wrapper-md">
		<div class="panel panel-default">
			<div class="panel-heading">Tree</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-8">
						<footer class="panel-footer text-right bg-light lter">
							<button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" ng-click='newMenuRoot()'>
								<i class="fa fa-dot-circle-o"></i>Add Menu Root
							</button>
						</footer>
						<div ui-tree id="tree-root">
							<ol ui-tree-nodes="" ng-model="data">
								<li ng-repeat="node in data" ui-tree-node data-collapsed="true" ng-include="'children_renderer.html'"></li>
							</ol>
						</div>
					</div>
					<div class="col-sm-4" ng-if="menuData != null">
						<div class="panel panel-default">
							<div class="panel-heading">
								<strong>{{menuData.title}} Editor </strong>
							</div>
							<div class="panel-body">
								<!-- 
						<div class="form-group" >
							<label class="col-sm-3 control-label">{{k}}</label>
							<div class="col-sm-9">
								<input type="text" ng-model="menuData[k]" class="form-control" placeholder="{{k}}">
							</div>
						</div>
					 -->
								<form class="form-horizontal form-validation ng-pristine ng-valid" action="javascript:alert('提交成功')" method="put" id="menuForm" ng-submit="save(menuData)">
									<div class="form-group">
										<label class="col-sm-3 control-label ">id</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.id" class="form-control " placeholder="id" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">parentId</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.parentId" class="form-control " placeholder="parentId" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">alias</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.alias" class="form-control " placeholder="alias">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">title</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.title" class="form-control " placeholder="title">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">description</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.description" class="form-control " placeholder="description">
										</div>
									</div>
									<div class="form-group ">
										<label class="col-sm-3 control-label">isNavigation</label>
										<div class="col-sm-9">
											<label class="i-switch m-t-xs m-r"> <input type="checkbox" placeholder="isNavigation" ng-model="menuData.isNavigation"> <i></i>
											</label>
										</div>
									</div>
									<div class="form-group ">
										<label class="col-sm-3 control-label">isPublish</label>
										<div class="col-sm-9">
											<label class="i-switch m-t-xs m-r"> <input type="checkbox" placeholder="isPublish" ng-model="menuData.isPublish"> <i></i>
											</label>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">keyword</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.keyword" class="form-control " placeholder="keyword">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">sort</label>
										<div class="col-sm-9">
											<input type="number" ng-model="menuData.sort" class="form-control " placeholder="sort">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">style</label>
										<div class="col-sm-9">
											<select name="account" class="form-control m-b" ng-model="menuData.style">
												<option value="aticle">Alticle</option>
												<option value="page">Page</option>
												<option value="url">URL</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">thumb</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.thumb" class="form-control " placeholder="thumb">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">url </label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.url" class="form-control " placeholder="url" ng-required="!menuData.style.search('url')">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">author</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.author" class="form-control " placeholder="author">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">clicks</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.clicks" class="form-control " placeholder="clicks">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">stem</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.stem" class="form-control " placeholder="stem" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">edittime</label>
										<div class="col-sm-9">
											<input type="text" ng-model="menuData.edittime" class="form-control " placeholder="edittime" uib-datepicker-popup="yyyy年MM月dd日 hh:mm:ss" readonly="readonly">
										</div>
									</div>
									<footer class="panel-footer text-right bg-light lter">
										<button type="submit" class="btn btn-success">Submit</button>
										<button type="button" class="btn btn-success" ng-disabled="!menuData.id" ng-click="editorArticle(menuData)">Editor Article</button>
										<!-- 
data-template-url="./manage/tpl/conent/articleFrom.html"
										
										data-placement="left" 
										data-animation="aside  am-slide-left" 
										bs-aside="aside" data-container="body"
										 -->
									</footer>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>