<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
		
	<import resource="classpath:mvc/SpringContext-mvc.xml" />
	<import resource="classpath:cache/SpringContext-cache.xml" /> 
	<import resource="classpath:datasource/SpringContext-datasource.xml"/>
	<import resource="classpath:mybatis/SpringContext-mybatis.xml"/>
	<import resource="classpath:captcha/Springcontext-captcha.xml"/>
	<import resource="classpath:shiro/SpringContext-shiro.xml" />
	<import resource="classpath:solr/SpringContext-solr.xml" />
</beans>